@page "/bookdetails"
@rendermode InteractiveAuto
@using BlazorCrudApplication.Client.Interfaces.BookDetails
@using BlazorCrudApplication.Client.Model
{
@inject IBookDetailsService bookDetailsService


<h3>Book Details</h3>

<EditForm Model="@formData1" OnValidSubmit="HandleSubmit" FormName="form1">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="name1" class="form-label">BookName</label>
        <InputText id="name1" class="form-control" @bind-Value="formData1.BookName" />
        <ValidationMessage For="@(() => formData1.BookName)" />
    </div>

    <div class="mb-3">
        <label for="email1" class="form-label">AuthorName</label>
        <InputText id="email1" class="form-control" @bind-Value="formData1.AuthorName" />
        <ValidationMessage For="@(() => formData1.AuthorName)" />
    </div>

    <button type="submit" class="btn btn-primary">Submit Form 1</button>
</EditForm>

@if (isSubmitted)
{
    <div class="alert alert-success mt-3">
        <p>Form Submitted: <strong>@formData1.BookName</strong></p>
        <p>AuthorName: @formData1.AuthorName</p>
    </div>
}

@code {
    private BookDetailsModel formData1 = new BookDetailsModel(); // Ensure it's initialized properly
    private bool isSubmitted = false;

    // Handle form submission
    private async Task HandleSubmit()
    {
        var BookDetails = await bookDetailsService.AddBookDetails(formData1);
    }
}
