@page "/grtbookdetails"
@rendermode InteractiveAuto
@using BlazorCrudApplication.Client.Interfaces
@using BlazorCrudApplication.Client.Model
@inject IBookDetailsService bookDetailsService
@inject NavigationManager NavigationManager

<h3>Book Details</h3>

@if (getAllBookDetails == null || !getAllBookDetails.Any())
{                                     
    <p>Loading or no books available...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>Genre</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var book in getAllBookDetails)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.BookName</td>
                    <td>@book.AuthorName</td>
                    <td>@book.BookTag</td>
                    <td>@book.UploadBook</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditDetails(book.Id)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => DeleteBookDetails(book.Id)">Delete</button>
                    </td>
                
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<BookDetailsModel> getAllBookDetails = new();
    private BookDetailsModel getBookDetailsById = new();

    protected override async Task OnInitializedAsync()
    {
        getAllBookDetails = await bookDetailsService.GetAll();
    }

    private void EditDetails(int Id)
    {


        // Set IsEditable to true when editing
        bool IsEditable = true;

        // Pass the IsEditable flag to the bookdetails page via query parameters
        NavigationManager.NavigateTo($"/bookdetails?id={Id}&isEditable={IsEditable}");
    }


    private async Task DeleteBookDetails(int Id)
    {
        bool deleteRecord = await bookDetailsService.Delete(Id);
        if (deleteRecord)
        {
            // If deletion is successful, refresh the list
            getAllBookDetails = await bookDetailsService.GetAll();
        }
        this.StateHasChanged();
    }
}
