@page "/weather"
@inject IWeatherForecastService WeatherForecastService
@using BlazorCrudApplication.Client.Interfaces
@using BlazorCrudApplication.Client.Model
@rendermode @(new InteractiveAutoRenderMode(false))
<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    
    {
        try
        {
            // Fetch weather data from the WeatherForecast API

            forecasts = await WeatherForecastService.GetWeatherForecastDetails();
        }
        catch (Exception ex)
        {
            // Handle the error (e.g., show a user-friendly message)
            Console.Error.WriteLine($"Error fetching weather data: {ex.Message}");
        }
    }
}
